<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>album</title>
</head>
<body>


<div class="container-fluid text-center">
 	<header>
 		<a href="Home.html"><img src="../pics/FG2.png" class="logo"></a>
 		<p style="color: rgb(104, 188, 245);font-size: 55px;margin-top: 3%;">THE UNIVERSE OF GOOD MUSIC</p>
 	</header>
   <div class="row">
   	 <div class="col-xl-6">
       <a href="Home.html"><img src="../pics/1.jpg" width="400"></a>     
     </div>
     <div class="col-xl-6">
     	<h1>Taylor Swift</h1>
     	<h4 class="text-danger">Pop</h4>
       <p style="color: white;font-size: 30px">is an American singer-songwriter and actress. She is under contract with the independent label Big Machine Records, and is the youngest artist to have signed with the music publishing house Sony / ATV Music Publishing.</p>    
     </div>
   </div>
   <h1>Albums</h1><br><br><br><br>
   <div class="row mb-5">


        
         <%if (albdat.length > 0) {%>
         <%for(i in albdat) {%>
               <div class="col-md-4">
                
                 <a href="Morceau.html"><img src="../pics/<%= albdat[i].image%>" class="card-img-top1"></a>
                  <h2 class=" text-center" style="color: white;" ><%= albdat[i].albName%></h2>
                  <h3 class="text-center" style="color: #FF0068;"><%= albdat[i].genre%></h3>
                             
              </div>
              <%}%>
               
              <%}%>

              
              </div> 
            </div>
            <br><br><br>
            <form action="/artist" method="post">

              <div class="form-row">
              	
                <div class="col-md-6 mb-6">
                 
                  <input type="text" name="image" class="form-control is-valid" id="validationServer01" placeholder="Url"  required>
                 <br>
                </div>
                <div class="col-md-6 mb-6">
                  
                  <input type="text" name="albName" class="form-control is-valid" id="validationServer02" placeholder="Album name" required>
                 <br>
                </div>
             <div class="col-md-6 mb-6">
                  
                  <input type="text" name="genre" class="form-control is-valid" id="validationServer02" placeholder="Genre musical" required>
                  <br>
                </div>
              </div>
              <button class="buton" type="submit">Add Album</button>
            </form>
            <footer class="footer">
                 <span class="S1"> &copy; Copyright 2020. All Right Reserved</span>
            </footer>

</div>
</body>
</html>









